# DX 602 Week 8 Homework

## Introduction

In this homework, you will practice using the pandas library to manipulate and visualize data in a more structured way.

## Example Code

You may find it helpful to refer to this GitHub repository of Jupyter notebooks for example code.

* https://github.com/bu-cds-omds/dx602-examples

Any calculations demonstrated in code examples or videos may be found in these notebooks, and you are allowed to copy this example code in your homework answers.

## Shared Imports

Do not install or use any additional modules.
Installing additional modules may result in an autograder failure resulting in zero points for some or all problems.

In [ ]:
import math
import sys

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

## Shared Data

### Abalone Data

A few problems will use the abalone data set too.

In [ ]:
abalone = pd.read_csv("abalone.tsv", sep="\t")

In [43]:
abalone

,Sex,Length,Diameter,Height,Whole_weight,Shucked_weight,Viscera_weight,Shell_weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7
...,...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

### Weather Data

In [ ]:
boston_tmax = pd.read_csv("https://raw.githubusercontent.com/bu-cds-omds/dx602-examples/main/data/boston-TMAX.tsv",
                                  sep="\t")
boston_tmax["tmax"] = boston_tmax["value"] / 10

## Problems

### Problem 1

Write a function `p1` taking in a data frame of abalone data, and returning a data frame with just the weight columns.
You may assume that the input columns match the `abalone` data frame above.

In [ ]:
# YOUR CHANGES HERE

def p1(df):
    return abalone[['Whole_weight','Shucked_weight','Viscera_weight','Shell_weight']]

In [ ]:
p1(abalone)

### Problem 2

Write a function `p2` taking in a data frame of abalone data, and returning a data frame with the just the rows where the sex column is "F".

In [ ]:
# YOUR CHANGES HERE

def p2(df):
    return abalone[abalone['Sex']=='F']

In [ ]:
p2(abalone)

### Problem 3

Write a function `p3` taking in a data frame of abalone data that returns a data frame with the rows where the length and diameter are within 10%. That is,  $0.9~\mathrm{length} \leq \mathrm{diameter} \leq 1.1~\mathrm{length}$.

In [ ]:
# YOUR CHANGES HERE

def p3(df):
    return abalone[abalone['Diameter'].between(abalone['Length']*0.9,abalone['Length']*1.1)]

In [ ]:
p3(abalone)

In [ ]:
p3(abalone.query("Sex == 'I'"))

### Problem 4

Write a function `p4` taking in a data frame of abalone data and returning a tuple of two data frames. The first data frame should have all the female rows, and the second should have all the male rows.

In [ ]:
# YOUR CHANGES HERE

def p4(df):
    return (abalone[abalone['Sex']=='F'],abalone[abalone['Sex']=='M'])

In [ ]:
p4(abalone)

### Problem 5

Write a function `p5` taking in a data frame of abalone data and returning a data frame where the rows are neither labeled as female nor male.
(This should be the rows not included by `p4`, but there are simpler ways to select those rows directly.)

In [ ]:
# YOUR CHANGES HERE

def p5(df):
    return abalone[(abalone['Sex'] != 'F') & (abalone['Sex'] != 'M')]

In [ ]:
p5(abalone)

### Problem 6

Make a copy of the abalone data, filter it to just the numeric columns, and set `p6` to the columnwise mean of that data frame.

In [ ]:
# YOUR CHANGES HERE

p6data = abalone.copy()

p6data = p6data.drop('Sex',axis=1)

p6 = p6data.mean()

In [ ]:
p6

### Problem 7

Write a function `p7` taking in a data frame returning every tenth row.
The first row of the input data frame should be the first row in the returned data frame.

In [44]:
# YOUR CHANGES HERE

def p7(df):
    return df.iloc[::10]

In [ ]:
p7(abalone)

In [ ]:
abalone.index

### Problem 8

The `q8` data frame below was created without an explicit index.
Make `p8` a copy of `q8` with the index set to be the city column.
(Yes, city names are not unique, but pandas does not require that either.)

Hint: pandas data frames have a method called `set_index`.

In [45]:
# DO NOT CHANGE

q8 = pd.DataFrame(data={"city": ["boston", "new york", "san francisco", "london", "paris"], "country": ["usa", "usa", "usa", "england", "france"]})
q8

            city  country
0         boston      usa
1       new york      usa
2  san francisco      usa
3         london  england
4          paris   france

In [48]:
# YOUR CHANGES HERE

p8 = q8.copy()

p8 = p8.set_index('city')

In [49]:
p8

               country
city
boston             usa
new york           usa
san francisco      usa
london         england
paris           france

### Problem 9

Set `p9` to be a copy of the abalone data frame with the sex column removed.
(Many modeling methods only work with numeric inputs.)

In [52]:
# YOUR CHANGES HERE
p9 = abalone.copy()

p9 = p9.drop('Sex',axis=1)

In [53]:
p9

,Length,Diameter,Height,Whole_weight,Shucked_weight,Viscera_weight,Shell_weight,Rings
0,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15
1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7
2,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9
3,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10
4,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7
...,...,...,...,...,...,...,...,...
4172,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4173,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4174,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4175,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
4176,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

### Problem 10

Write a file `p10.tsv` with just the length and diameter columns of the abalone dataset.

Hint: you may need to explicitly suppress writing the data frame index.

In [ ]:
# YOUR CHANGES HERE

...

### Problem 11

Write a function `p11` that reads a file or URL with weather data as seen this week, and returns the rows where the maximum temperature is at least 30° Celsius.

In [ ]:
# YOUR CHANGES HERE

def p11(data_location):
    ...

In [ ]:
p11("boston-TMAX.tsv")

### Problem 12

Set `p12` to be a NumPy array with the abalone data besides the sex column.
The NumPy data type should be a kind of floating point number.

Hint: use the `to_numpy` method of data frames and make sure to remove the sex column beforehand.

In [ ]:
p12 = ...

In [ ]:
p12

In [ ]:
if p12 is not ...:
    print(p12.dtype)

### Problem 13

Set `p13` to be the first 5 rows of the abalone data.

Hint: the head method can be used to select rows at the beginning of a data frame.

In [ ]:
p13 = ...

In [ ]:
p13

### Problem 14

Set `p14` to be a copy of `q14` with the missing ratings set to 3.

In [ ]:
# DO NOT CHANGE
 
q14 = pd.DataFrame({"fruit": ["apple", "banana", "guava", "lychee", "mango"], "rating": [None, None, 4, 4, 5]})
q14

In [ ]:
# YOUR CHANGES HERE

p14 = ...

In [ ]:
p14

### Problem 15

Write a function `p15` that takes in a data frame and returns the average number of bytes of memory used per row.

Hint: Use the data frame [`memory_usage`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.memory_usage.html) method.

In [ ]:
# YOUR CHANGES HERE

def p15(df):
    ...

In [ ]:
p15(abalone)

### Problem 16

Write a function `p16` that takes in a data frame, and returns a copy of the data frame filtered to just the columns with names ending in "_weight".
This should give the same results as `p1` for data frames with the same columns as the abalone data set, but it should work with any set of column names.

Hint: Use a list comprehension based on the columns attribute to select the relevant columns.

In [ ]:
# YOUR CHANGES HERE

def p16(df):
    ...

In [ ]:
p16(abalone)

In [ ]:
# this should return a data frame with just a data frame with just an index and no data columns
p16(boston_tmax)

### Problem 17

Write a function `p17` that takes in a data frame, and returns a tuple of two data frames.
The first data frame should have all the columns whose names do not begin with "target_".
The second data frame should have all the columns whose names do begin with "target_".

In [ ]:
# YOUR CHANGES HERE

def p17(df):
    ...

In [ ]:
t17 = abalone.rename(columns={"Rings": "target_Rings"})
t17

In [ ]:
p17(t17)

### Problem 18

Write a function `p18` taking in two data frames, `df_a` and `df_b`, and merging them into a new data frame as follows.
The output data frame should have rows for each row of `df_a`, and it should have columns copying all of `df_a`'s columns.
The rows should also be in the same order as in `df_a`.
It should also have a copy of each of `df_b`'s columns except columns where a column of the same name is in `df_a`.
The original data frames, `df_a` and `df_b`, should not be changed.
The order of the columns in the output data frame does not matter.

In [ ]:
# YOUR CHANGES HERE

def p18(df_a, df_b):
    ...

In [ ]:
# DO NOT CHANGE

t18a = pd.DataFrame(index=["a", "b", "c"], data={"color": ["red", "green", "blue"]})
t18a

In [ ]:
# DO NOT CHANGE

t18b = pd.DataFrame(index=["a", "b", "c"], data={"rating": [1, 2, 3]})
t18b

In [ ]:
p18(t18a, t18b)

### Problem 19

The data frame `o19` below lists city names and years when they hosted the olympics.
The data frame `c19` below maps cities to countries.
Make copies of them changing their index to be the city names, then set `p19` to be a copy of the first modified data frame with the country column from the second modified frame added.

Hint: you will want to use `set_index` again.

In [ ]:
# DO NOT CHANGE

o19 = pd.DataFrame(data= {"city": ["athens", "paris", "st. louis", "london", "stockholm", "antwerp", "paris", "amsterdam", "los angeles", "berlin", "london", "helsinki", "melbourne", "rome", "tokyo", "mexico city", "munich", "montreal", "moscow", "los angeles", "seoul", "barcelona", "atlanta", "sydney", "athens", "beijing", "london", "rio de janeiro", "tokyo", "paris"],
                             "year": [1896, 1900, 1904, 1908, 1912, 1920, 1924, 1928, 1932, 1936, 1948, 1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016, 2020, 2024]})
o19

In [ ]:
# DO NOT CHANGE

c19 = pd.DataFrame(data= {"city": ['amsterdam', 
 'antwerp',
 'athens',
 'atlanta',
 'barcelona',
 'beijing',
 'berlin',
 'helsinki',
 'london',
 'los angeles',
 'melbourne',
 'mexico city',
 'montreal',
 'moscow',
 'munich',
 'paris',
 'rio de janeiro',
 'rome',
 'seoul',
 'st. louis',
 'stockholm',
 'sydney',
 'tokyo'],
 "country": ['netherlands',
 'belgium',
 'greece',
 'united states',
 'spain',
 'china',
 'germany',
 'finland',
 'england',
 'united states',
 'australia',
 'mexico',
 'canada',
 'russia',
 'germany',
 'france',
 'brazil',
 'italy',
 'south korea',
 'united states',
 'sweden',
 'australia',
 'japan']})
c19

In [ ]:
# YOUR CHANGES HERE

p19 = ...

In [ ]:
p19

### Problem 20

Write a copy of the abalone data set sorted by the rings column to `p20.tsv`.

Hint: use the `sort_values` method to sort the data.

In [ ]:
# YOUR CHANGES HERE

...